#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu    {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left   {
    width: 200px;
    height:200px;
    float: left;
}

.right  {
    width: 200px;
    height: 200px;
    float: right;
}

#menu_bottom {
    background-color: rgba(11, 133, 50, 0.3);
    float: bottom;
}

#showText   {
    width: 200px;
    height: 190px;
    margin: opx auto;
    float: left;
}

#cart   {
    top: 0;
    margin:0px auto;
    width:400px;
    height: 200px;
}

#btnOrder   {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}

body    {
    background-color: rgb(19, 19, 19);

}

html{
    color: white;
}

h3  {
    font-family: Lucida, sans-serif;
    color: aqua;
    border-bottom: 2px solid aqua;
}

h1  {
    font-family: Lucida, sans-serif;
    color: aquamarine;
}

div{
    font-family: Helvetica Narrow, sans-serif;
    color: gray;
}
